// Colors
$dark-mode-bg: hsl(207, 26%, 17%);
$dark-mode-elements: hsl(209, 23%, 22%);
$dark-mode-text: hsl(0, 0%, 100%);
$light-mode-bg: hsl(0, 0%, 98%);
$light-mode-elements: hsl(0, 0%, 100%);
$light-mode-input: hsl(0, 0%, 52%);
$light-mode-text: hsl(200, 15%, 8%);

// Font
$font-size-title: 16px;
$font-size-text: 14px;
$font-weight-normal: 300;
$font-weight-bold: 600;
$font-weight-extra-bold: 800;