@use "../../../styles/vars" as v;
@use "../../../styles/mixins" as m;

.filter {
  background-color: v.$light-mode-elements;
  position: relative;
  height: 50px;
  width: 190px;
  padding: 20px;
  font-size: v.$font-size-text;
  font-weight: v.$font-weight-normal;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: background-color ease-in-out 1s;
  &--dark {
    background-color: v.$dark-mode-elements;
  };
  @include m.breakpoint(mobile) {
    margin-top: 40px;
  }
  &__icon {
    position: absolute;
    right: 15px;
    font-size: 15px;
    cursor: pointer;
  };
  &--dark + div {
    background-color: v.$dark-mode-elements;
  };
  &__select {
    position: absolute;
    z-index: 5;
    width: 190px;
    margin-top: 3px;
    background-color: v.$light-mode-elements;
    padding: 15px 20px;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: background-color ease-in-out 1s;
    &--hide {
      display: none;
    };
    &--region {
      font-size: v.$font-size-text;
      font-weight: v.$font-weight-normal;
      &:not(:first-child) {
        margin-top: 15px;
      }
      &:hover {
        color: hsl(0, 0%, 52%);
        cursor: pointer;
      };
    };
  };
};
