@use '../../styles/vars' as v;

.skeleton {
  &__line {
    width: 250px;
    height: 175px;
    padding: 25px;
    line-height: 30px;
    background: v.$light-mode-bg;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
